#news {
    background-image: url("../img/background-news.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.single-news {
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    text-align: justify;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(143, 143, 143, 1);
    -moz-box-shadow: 0px 0px 13px 2px rgba(143, 143, 143, 1);
    box-shadow: 0px 0px 13px 2px rgba(143, 143, 143, 1);
    h5 {
        padding-top: 5px;
        font-weight: normal;
        font-style: italic;
    }
    p {
        padding-top: 10px;
    }
}
