$columns: 12;
$base-width: 100%/$columns;
$hoverFbColor: #4668b3;
$hoverGmailColor: #d95333;
$hoverInstagramColor: #8a3ab9;
$fontHeaderShadow:  0px 2px 9px rgba(0, 0, 0, 0.8);
$fontSizeAllHeaders: 35px;
